<div class="page-header">
  <h1>Your registration details:</h1>
</div>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<% provide(:title, @user.name) %>
<div>
  <% if @user.groups.any? %>
      <h3>Groups (<%= @user.groups.count %>):</h3>
      <ol>
        <%= render @groups %>
      </ol>
      <%= will_paginate @groups %>
  <% end %>
</div>