
<div class="page-header">
  <h1>Activities for <%= @current_group.name %>:</h1>
</div>

<% if @current_group.activities.any? %>

<div class="row">
  <% @current_group.activities.sort_by { |x| -x.votes }.each do |activity| %>
    <div class="col-md-3 card">
      <%= link_to(show_activity_path(activity)) do %>
      <%= image_tag activity.image_url, :size => "150x150" %>
      <br>
      <h3><%= activity.name %></h3>
      <% end %>
      <p><%= activity.votes %> votes</p>
      <% if activity.definitive %>
          Definitive
      <% else %>
          <% if !(activity.users.include?(User.find(session[:logged_user_id]))) %>
              <%= button_to 'Vote', vote_activity_path(activity), {:class => 'btn btn-primary'} %>
          <% else %>
              <%= button_to 'UnVote', unvote_activity_path(activity), {:class => 'btn btn-primary'} %>
          <% end %>
      <% end %>

    </div>


  <% end %>

</div>

<% else %>

    <p>
      No activities for this group.
    </p>

<% end %>





