
<div class="page-header">
  <h1>Activities for <%= @current_group.name %>:</h1>
</div>


<% if @current_group.activities.any? %>

    <table class="table table-bordered table-hover table-condensed">
      <tr class="active">
        <th>Name</th>
        <th>Location</th>
        <th>Sart date</th>
        <th>Duration</th>
        <th>Description</th>
        <th>Status</th>
        <th>Votes</th>
        <th>Admin</th>
      </tr>
      <% @current_group.activities.sort_by { |x| -x.votes }.each do |activity| %>

          <tr>
            <td><%= activity.name %></td>
            <td><%= activity.location %></td>
            <td><%= activity.start_date %></td>
            <td><%= activity.duration %></td>
            <td><%= activity.description %></td>
            <td><%= activity.definitive %></td>
            <td><%= activity.votes %></td>
            <td>
            <% if !(activity.users.include?(User.find(session[:logged_user_id]))) %>
            <%= button_to 'Vote',
                          { controller: 'activities', action: 'vote', :activity => activity.id},
                          {:class => 'btn btn-primary'} %>
            <% else %>
            <%= button_to 'UnVote',
                          {controller: 'activities', action: 'unvote', :activity => activity.id},
                          {:class => 'btn btn-primary'} %>
            <% end %>
            <% if !activity.definitive and activity.group.owner_id.equal?(session[:logged_user_id]) %>
            <%= button_to 'Make definitive',
                          { controller: 'activities', action: 'make_definitive', :activity => activity.id},
                          {:class => 'btn btn-primary'} %>

            <% end %>
            <button class="btn btn-default"><%= link_to 'Edit', edit_activity_path(activity) %></button>
            </td>
          </tr>

      <% end %>
    </table>

<% else %>

    <p>
      No activities for this group.
    </p>

<% end %>
