<div class="page-header">
  <h1>Activity <%= @activity.name %></h1>
</div>

<div class="row">
  <div class="col-md-2">
    <%= image_tag @activity.image_url, :size => "150x150" %>
  </div>

    <dl class="dl-horizontal col-md-10">
      <dt>Location:</dt>
      <dd><%= @activity.location %></dd>

      <dt>Start date:</dt>
      <dd><%= @activity.start_date.to_formatted_s(:long) %></dd>

      <dt>Duration:</dt>
      <dd><%= @activity.duration %> hours</dd>
    </dl>
</div>

  <dl class="dl-horizontal col-md-12">
      <dt>Description:</dt>
      <dd><%= @activity.description %></dd>
  </dl>


    <% if @activity.group.owner_id.equal?(session[:logged_user_id]) %>
        <ul class="nav nav-pills">
          <li>
            <% if !@activity.definitive %>
                <%= button_to 'Make definitive', activity_make_definitive_path(@activity),
                              {:class => 'btn btn-success'} %>
            <% end %>
          </li>
          <li><%= button_to 'Edit', activities_edit_path(@activity), {:class => 'btn btn-primary'} %></li>
          <li><%= button_to 'Delete', activities_delete_path(@activity), {:class => 'btn btn-danger'} %></li>
        </ul>
    <% end %>



