<!DOCTYPE html>
<html>
<head>
  <title>Exercise4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <% if (session[:logged_user_name]) %>
      <%= link_to "Home", welcome_index_path %>
      <%= link_to "Logout", controller: 'login', action: 'logout' %>
  <% end %>

  <div class="content">
    <fieldset>
      <legend>
        <% flash.each do |key, value|
          if (key=='error')
            key='danger'
          end
        %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </legend>
    </fieldset>
  </div>
</div>


</body>
</html>
