<div class="page-header">
  <h1>Welcome, <%= session[:logged_user_name] %>!</h1>
</div>

<div class="panel panel-info">

  <%
     if @user
       if @user.groups.any?
  %>
          <div class="panel-heading">
            Your groups <span class="badge"><%= @user.groups.count %></span>
            <span style="margin-left: 15px"><%= link_to 'Create group', new_group_path %></span>
          </div>
          <ol class="list-group">
            <%= render @groups %>
          </ol>
          <%= will_paginate @groups, :param_name => 'group_page' %>
      <%
         else %>
          <%= link_to 'Create group', new_group_path %>
       <%
         end
         end
      %>
</div>
<div class="panel panel-info">
  <%
     if @user
       if @user.memberships.any?
  %>
          <div class="panel-heading">
            Your memberships <span class="badge"><%= @user.memberships.count %></span>
          </div>

          <ol class="list-group">
            <% @mgroups.each do |mgroup| %>
                <li class="list-group-item">
                  <b><%= mgroup.name %></b>
                  <span style="padding-left: 25px"><%= mgroup.description %></span>
                  <br>
                  <div class="btn-group btn-group-sm">
                    <button class="btn btn-default">
                      <%= link_to 'Leave group', membership_path(:user => @user, :group => mgroup, :id => @user.id),
                                method: :delete, data: {confirm: 'Are you sure to remove this membership?'} %></button>
                    <button class="btn btn-default">
                      <%= link_to 'View activities', controller: 'activities', action: 'show_all', :group => mgroup %>
                    </button>
                  </div>
                </li>
            <% end %>
          </ol>
          <%= will_paginate @memberships, :param_name => 'membership_page' %>
      <%
         end
         end
      %>
</div>