<li class="list-group-item">
  <b><%= group.name %></b>
  <span style="padding-left: 25px"><%= group.description %></span>
  <br>
  <div class="btn-group btn-group-sm">
    <button class="btn btn-default"><%= link_to 'Show group&members', group %></button>
    <button class="btn btn-default"><%= link_to 'Edit group&members', edit_group_path(group) %></button>
    <button class="btn btn-default"><%= link_to 'Delete group', group_path(group), method: :delete, data: { confirm: 'Do you really want to delete this group?' } %></button>
    <button class="btn btn-default"><%= link_to 'Add activity', controller: 'activities', action: 'new', :group => group %></button>
    <button class="btn btn-default"><%= link_to 'View activities', controller: 'activities', action: 'show_all', :group => group %></button>
  </div>
</li>
